
/* NabBar CSS */

.nb_container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    /* border: 1px solid red; */
    font-size: 14px;
    gap: 60px;
}

.nb_lt_ct{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nb_md_ct{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.nb_rt_ct{
    width: 320px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.nb_rt_rtsub_ct{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid red; */
}
.nb_rt_ltsub_ct{
    width: 100px;
    display: flex;
    align-items: center;
    gap: 2px;
    /* border: 1px solid red; */
}

.nb_img_box{
    width: 24px;
    height: 24px;
}
.nb_pf_img_box{
    width: 32px;
    height: 32px;
    border-radius: 100%;
    overflow: hidden;
}






/* Slider CSS */

.sld_container{
    width: 280px;
    background-color: #f5f3f3;
    font-size: smaller;
    padding-top: 20px;
}
.sld_sub_ct{
    width: 80%;
    margin: auto;
}
.sld_ct_boxs{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sld_ct_box{
    width: 200px;
    display: flex;
    gap: 1px;
    align-items: center;
}

.sld_img_box{
    width: 16px;
    height: 16px;
    background-color: #f5f3f3;
    
}
.sld_img_box_a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 4px;
    border-radius: 4px;
    box-shadow: 0 0 5px 1px rgb(209, 209, 209);
}





/* Section CSS */
/* GroupSection CSS */

.grp_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* border: 1px solid red; */
    font-size: small;
}
.grp_ct_box{
    width: 90%;
    background-color: #fff;
    /* background-color: ; */
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

.grp_ct_box_input_box{
    margin: 10px;
    padding: 0;
    display: flex;
    gap: 10px;
}

.input{
    width: 80%;
    border-radius: 20px;
    border: 1px solid rgb(207, 207, 207);
    padding: 0 10px;
    font-size: smaller;
}

.grp_ct_box2{
    width: calc(90% + 40px);
}


.grp_ct_sub_box{
    width: calc(100% - 26px);
   padding: 15px;
    background-color:rgb(241, 241, 237);
    display: flex;
    gap: 10px;
    border-radius: 10px 10px 0 0;
}
.grp_ct_sub_box2{
    width: calc(100% - 36px);
   padding: 20px;
   background-color: #fff;
    display: flex;
    gap: 10px;
    border-radius: 0 0 10px 10px;
}

.select{
    width: 100%;
    margin: auto;
    padding: 8px 10px;
    border-color: rgb(209, 209, 209);
    border-radius: 20px;
    color: gray;
}







/* GroupCardsSection CSS */

.grpcs_container{
    width: 250px;
    height: 235px;
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    font-size: smaller;
}

.grpcs_ct_img_box{
    width: 100%;
    height: 120px;
}
.grpcs_ct2{
    position: absolute;
    top: 80px;
    width: 94%;
    left: 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.grpcs_sub_ct2{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.grpscs_ct_img_sub_box{
    width: 60px;
    height: 60px;
}







/* ActiveMembersSection  CSS */

.act_container{
    width: 250px;
    padding: 10px;
    padding-right: 60px;
    font-size: smaller;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 1px solid red; */
    
}
.act_sub_ct{
    padding: 20px 20px;
    font-size: smaller;
    background-color: #fff;
    
    
    /* height: 150px; */
    border-radius: 10px;
}
.act_sub_ct2{
    display: flex;
    align-items: center;
    width: 200px;
    gap: 5px;
    margin-top: 10px;
}
.act_ct2_img_box{
    overflow: hidden;
    width: 80px;
    height: 50px;
    border-radius: 100%;

}